#myhtml {
	font-size: 16px;
}

#mybody{
	max-width: 1440px;
	margin: 0 auto;
	padding: 50px;
	background-color: white;
	font-family:'Segoe UI', Verdana, sans-serif;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0,5);
	border: groove 1px black;
}


/*Header*/

header {
	display: flex;
	justify-content: space-between;
}

.header-container {
	display: flex;
	flex-direction: column;
}

.top-text {
	color: red;
}
h1 {
	margin: 0px 0px 15px;
}

/*toggle-switch*/
.container-switch {
	padding-top: 25px;
	height: 40px;
	text-align: center;
  }
  
  .switch input {
	position: absolute;
	opacity: 0;
	
  }

  .switch {
	display: inline-block;
	height: 1.2rem;
	width: 2.2rem;
	background: #BDB9A6;
	border-radius: 1rem;
	cursor: pointer;
  }
  
  
  .toggle-circle {
	height: 1.2rem;
	width: 1.2rem;
	border-radius: 1rem;
	background: #FFF;
	box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.3);
			transition: all 300ms;
  }
  
  .switch input:checked + div {
			transform: translate3d(100%, 0, 0);
  }

  .dark-light {
	font-size: .9rem;
	font-weight: 600;
  }


  /*main section*/

  .img-top-text {
	font-weight: 600;
	font-size: 1.1rem;
	display: flex;
	justify-content: center;
  }

  .img-and-text-container {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
 .img-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top:50px;
 }

 img {
	padding: 0 70px 50px;	
 }

 img:hover {
	transform: scale(1.1);
	cursor: pointer;
 }

 .color-text {
	font-size: 1.5rem;
	font-weight: 600;
	padding-bottom: 20px;

 }


 .main-section {
	display: flex;
	flex-direction: column;
	align-items: center;
 }

 